@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
/* common */
.thin-text {
  font-weight: 400;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
}
.main-container {
  width: 80%;
  margin: 0 auto;
}
.controls {
  display: flex;
}
.plan-card {
  width: 25%;
  background-color: #ffffff;
  border-radius: 1.5em;
}
.card-top {
  border-bottom: 1px solid #f2f2f2;
  padding: 1.5em;
}
.plan-name {
  color: darkgrey;
  margin-bottom: 2em;
}
.plan-data {
  display: flex;
  font-size: 2em;
  align-items: center;
  height: 1em;
}
.data-noservices {
  font-weight: 400;
  text-decoration: line-through;
  font-size: 0.5em;
}
.data-withservices {
  color: #ff00cc;
  padding-left: 0.5em;
}
.card-middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #f2f2f2;
  padding: 1.5em;
}
.card-link {
  border: none;
  background-color: transparent;
  display: block;
  margin-bottom: 1em;
}
.card-link-icon {
  color: #4ed87e;
  padding-right: 1em;
}
.card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
}
.sub-prices {
  width: 30%;
}
.sub-price {
  margin-bottom: 0;
}
.sub-term {
  color: darkgrey;
}

.subscribe-btn {
  background-color: #990be3;
  border: none;
  border-radius: 2em;
  font-size: 1em;
  color: #ffffff;
  padding: 1em;
}

/* COMMITMENT */

.commitment-container {
  height: 4em;
  width: 50%;
}
.commitment-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  align-items: center;
  justify-items: center;
  gap: 1px;
}
.commitment-choice {
  background-color: #eaeaea;
  width: 100%;
  height: 100%;
  align-items: center;
}
.radio-check {
  cursor: pointer;
}
